.order-history-container {
  padding: 2rem;
.search-container{
  margin-bottom: 15px;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  input{
    border-radius: 5px;
    border: none;
    height: 35px;
    width: 50%;
    margin-right: 5px;

  }
}
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .order-grid {
  column-count: 2;
  column-gap: 1rem;

  @media (max-width: 1076px) {
    column-count: 1;
  }
}

.order-card {
  min-width: 320px;
  background: white;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  padding: 1rem;

  .order-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #f0ecec;
    padding: .7rem;
    border-radius: 5px;
  }

  .order-item {
    display: flex;
    margin-bottom: 1rem;

    .item-left .service-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
    }

    .item-right {
      margin-left: 1rem;
    }
  }

  .buttons {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;

    button {
                outline: none !important;
                width: 140px;
                height: 30px;
                background-color: var(--primary-color);
                color: rgb(241, 238, 238);
                cursor: pointer;
                border-radius: 5px;
                text-decoration: none;
                font-weight: 700;
                letter-spacing: 1px;
                word-spacing: 2px;
                text-align: center;
                border: none;

              &:hover{
                background-color: var(--secondary-color);
                color: var(--primary-color);
                font-weight: 700;
            }
            }
  }
  .change-status-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .status-select {
    // margin-top: 5px;/
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
  }
  .details {
    background-color: #f9f9f9;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
  }
}
}}