.layout{
    background-color:silver;
    min-height: 110vh;
    .dashboard{
        display: flex;
        flex-direction: row;
        gap: 60px;
        margin: 40px;

        .side{
            flex: 1;
        }
        .content{
            flex: 5;
            background-color: white;
            border-radius: 6px;
            box-shadow: 2px 4px 8px rgb(134, 129, 129);
            height: 80vh;
            overflow-y: scroll;
            overflow-x: scroll;
        }
    }
}